/* ------------------------------------------------ Polices raleway téléchargées --------------------------------------------------*/

@font-face {
    font-family: 'Raleway';
    src: url('police/Raleway-Regular.woff2') format('woff2'), url('police/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Raleway_SemiBold';
    src: url('police/Raleway-SemiBold.woff2') format('woff2'), url('Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway_ExtraBold';
    src: url('police/Raleway-ExtraBold.woff2') format('woff2'), url('police/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
}

/* Crée des marges à gauche et à droite de la page*/
html {
   margin-left: 18.5%;
   margin-right: 18.5%
}

/* Supprime les marges du corps */
body {
    margin: auto;
}

/* ------------------------- Logo Reservia et liens de navigation -------------------------------*/

/* Aligne tout ce qu'il a dans le Header sur la même ligne */
header {
    display: flex;
}


/* Enlève la marge par défaut */
nav ul {
    margin: auto;
    margin-right: 0;
    padding: 0;
}

/* Positionne les liens de navigations en haut à droite */
nav {
    display: flex;
    margin: auto;
    width: 100%;
    margin-top: 0;
}

.inscription {
    padding-right: 15px;
}

/* Positionne les liens de navigations en haut à droite */
nav li {
    display: inline-block;
    padding: 24px;
    border-top: 2px white solid;
}

/* Enlève le soulignement du texte et change la couleur en gris */
nav li a {
    text-decoration: none;
    font-family: Raleway_SemiBold;
    color: #666666;
}

/* Place le logo Reservia en haut à gauche */
.reservia {
    margin-top: 5px;
}

/* Place le lien S'inscrire en haut à droite */
.inscription {
    margin-top: 26px;
    margin-left: 25px;
}

/* Enlève le soulignement du texte et change sa couleur en bleu*/
.inscription a {
    text-decoration: none;
    color: #0065FC;
    font-family: Raleway_SemiBold;
}

/* Taille de l'image*/
.reservia img {
    width: 120px;
    height: auto;
}

/* Crée une bordure bleu au-dessus des liens de navigations lorsque la souris passe dessus*/
nav li:hover {
    border-top: 2px #0065FC solid;
}

/* Le lien de navigation devient bleu lorsque la souris passe dessus */
nav li a:hover {
    color: #0065FC;
}

/* Le lien de navigation devient bleu lorsque l'on a cliqué dessus en dernier */
nav li a:focus {
    color: #0065FC;
}

/* -------------------------------- Titre de la page------------------ --------------*/

/* Taille, décale le titre un peu à droite et change sa police */
.titre {
    font-size: 25px;
    margin: 0;
    font-family: Raleway_ExtraBold;
}



/* Taille, décale le sous-titre un peu à droite et change sa couleur */
.sous-titre {
    margin: 0;
    margin-top: 5px;
}

/* ---------------------------- Champs de saisie et bouton de recherche --------------------------------*/

/* Permet d'aligner le contenu de la div recherche sur la même ligne*/
.recherche {
    display: flex;
}

/* Décale le bloc à droite, ajoute une couleur de fond grise, taille longueur et largeur, arrondis les angles haut et bas gauche puis centre l'image */
.recherche p {
    background-color: #F2F2F2;
    height: 42px;
    width: 45px;
    border-radius: 30% 0% 0% 30%;
    text-align: center;
}

/* taille de l'image et marge intérieur pour centrer*/
.recherche p img {
    width: 15px;
    padding-top: 9px;
}

/* taille longueur largeur du champs de recherche, marge extérieur pour aligner avec l'image, change les bordures et décale le texte */
.recherche input {
    height: 40px;
    width: 180px;
    margin-top: 17px;
    border: 1px #F2F2F2 solid;
    padding-left: 15px;
}

/* Modifie la couleur du texte en blanc, le fond en bleu, la taille, aligne avec le champs de recherche et arrondis les angles haut et bas droite du bouton */
.recherche button {
    color: white;
    background-color: #0065FC;
    height: 42px;
    width: 100px;
    margin-top: 16.5px;
    border: 1px #0065FC solid;
    border-radius: 0% 10px 10px 0%;
}


/* Disparition du bouton Recherche logo */
.search {
    display: none;
}

/* ----------------------------------- Les différents filtres ------------------------------------*/

/* Aligne tout le contenu de la div filtres */
.filtres {
    display: flex;
    flex-wrap: wrap;
}

/* Taille, police, positionnement du texte et espacement */
.filtres h2 {
    font-size: 20px;
    font-family: Raleway_ExtraBold;
    margin-right: 20px;
}


/* Aligne les contenus des filtres, Taille, marge entre les divs, bordures et arrondis */
.economie, .famille, .romantique, .animaux {
    display: flex;
    height: 42px;
    margin-top: 9px;
    margin-left: 20px;
    border: 1px #DEEBFF solid;
    border-radius: 30px;
}

/* Largeur du filtre */
.economie {
    width: 170px;
}

/* Largeur du filtre */
.famille {
    width: 140px;
}

/* Largeur du filtre */
.romantique {
    width: 160px;
}

/* Largeur du filtre */
.animaux {
    width: 226px;
}

/* Rempli le filtre de la couleur grise lorsque la souris passe dessus */
.economie:hover {
    background-color: #DEEBFF;
}

/* Rempli le filtre de la couleur grise lorsque la souris passe dessus */
.famille:hover {
    background-color: #DEEBFF;
}

/* Rempli le filtre de la couleur grise lorsque la souris passe dessus */
.romantique:hover {
    background-color: #DEEBFF;
}
/* Rempli le filtre de la couleur grise lorsque la souris passe dessus*/
.animaux:hover {
    background-color: #DEEBFF;
}

/* Fond bleu clair derrière le logo, taille, centre le logo et le positionne verticalement */
.filtres .logo {
    background-color: #DEEBFF;
    width: 40px;
    min-width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 30px;
    margin: auto 0;
}

/* Centre le contenu et ajoute un espacement à gauche et à droite */
.filtres .filtre {
    margin: auto;
}

/* Donne la couleur bleu au logo*/
.logo a {
    color: #0065FC;
}

/* Supprime le soulignement, change la police et la couleur en noir */
.filtre a {
    text-decoration: none;
    font-family: Raleway_ExtraBold;
    color: black;
}

/* Aligne le logo verticalement */
.filtres a i {
    padding-top: 10px;
}

/* ------------------------- Logo Information et nombre de logements disponibles dans la ville --------------------------------*/

/* Aligne le contenu de la div information */
.information {
    display: flex;
}

/* Donne un taille, une minimum pour qu'elle ne soit pas déformé, aligne le logo, met une bordure, centre verticalement le bloc p dans la div */
.information .info {
    width: 25px;
    min-width: 25px;
    height: 25px;
    text-align: center;
    border: 1px #DEEBFF solid;
    border-radius: 30px;
    margin: auto 0;
}

/* Change la couleur du logo en bleu et sa taille*/
.information .info a {
    color: #0065FC; 
    font-size: 15px;
}

/* Centre le logo dans le bloc p*/
.information a i {
    margin-top: 4px;
}

/* Décalage entre le logo et le texte */
.information .nbrLogement {
    padding-left: 10px;
}

/*--------------------------------- Hébergement de la ville --------------------------------------*/

/* Aligne tout le contenu de la div hebergement */
.hebergement {
    display: flex;
}

/* Fais passer à la ligne les figures lorsqu'elle dépasse la largeur du bloc, change la couleur du fond en gris, ajoute des bords arrondis et crée un espacement */
.hebergement_ville {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 35px
}

/* Taille du titre, marges gauches, haut et bas et prends toute la largeur pour faire passer les autres blocs à la ligne */
.hebergement_ville .titre {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

/* Fond blanc, taille, marge intérieur, bordures, marges entre eux, ombres */
.hebergement_ville figure {
    background-color: white;
    width: 210px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 0px;
    margin-right: 20px;
    box-shadow: 10px 10px 10px #E9E9E9;
}

/* Police d'écriture à l'intérieur de la figure et marge gauche*/
.hebergement_ville figure figcaption p {
    margin: auto;
    padding-left: 10px;
    font-family: Raleway_ExtraBold;
}

/* Prix en gras */
.hebergement_ville figure figcaption p span {
    font-weight: bold;
}

/* Enlève le soulignement du lien, change se police et sa couleur en noir */
.hebergement_ville figure figcaption p a {
    text-decoration: none;
    color: black;
    font-family: Raleway_ExtraBold;
}

/* Police  et taille de la ligne de prix, marges intérieur */
.hebergement_ville figure figcaption .prix {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14.5px;
    font-family: Raleway;
}

/* Couleur des étoiles et leurs tailles */
.hebergement_ville i {
    color: #0065FC;
    font-size: 13px;
}

/* Couleur des étoiles en moins */
.hebergement_ville span i {
    color: #E9E9E9;
}

/* Taille des images des hébergements et bordures courbées */
.hebergement_ville img {
    height: 140px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

/* Prends toute la largeur pour avoir la ligne pour lui seul, enlève la marge gauche */
.hebergement h2 {
    width: 100%;
    margin-left: 0;
}

/* Supprime les ajouts sur le lien, change la taille, la police, et la couleur en noir */
.hebergement h2 a {
    padding-left: 30px;
    font-size: 18px;
    text-decoration: none;
    font-family: Raleway_ExtraBold;
    color: black;
}

/*------------------------- Hébergements populaires ---------------------*/

/* Mets les figures en position de colonne et les centres */
.hebergement_populaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 365px;
    height: 610px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

/* Police du titre, marge supérieur et hauteur */
.hebergement_populaire .titre {
    font-size: 20px;
    margin-top: 30px;
    height: 60px;
}

/* Couleur, taille du logo et marge entre lui et le titre*/
.hebergement_populaire .titre i{
    padding-left: 100px;
    color: black;
    font-size: 18px;
}

/* Fond blanc, taille, marge intérieur, bordures, marges entre eux, ombres */
.hebergement_populaire figure {
    display: flex;
    width: 320px;
    height: 140px;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 35px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #E9E9E9;
}

/* Police d'écriture du bloc figcaption */
.hebergement_populaire figure figcaption p {
    margin: auto;
    font-family: Raleway_ExtraBold;
}

/* Mets le prix en gras */
.hebergement_populaire figure figcaption p span {
    font-weight: bold;
}

/* Enlève les ajouts sur le lien, change la couleur en noir et la police */
.hebergement_populaire figure figcaption p a {
    text-decoration: none;
    color: black;
    font-family: Raleway_ExtraBold;
}

/* Donne 30% du figcaption au nom de l'hébergement */
.hebergement_populaire figure figcaption .nom_hotel {
    height: 30%;
    padding-top: 10px;
}

/* Donne 30% du figcaption à la ligne du prix de l'hébergement, marge en haut et en bas pour séparer les figures, taille et police de l'écriture */
.hebergement_populaire figure figcaption .prix {
    height: 30%;
    padding-top: 15px;
    padding-bottom: 2px;
    font-size: 14.5px;
    font-family: Raleway;
}

/* Donne 35% du figcaption aux étoiles de l'hébergement et les positionne tout en bas */
.hebergement_populaire figure figcaption .etoiles {
    display: flex;
    height: 35%;
    align-items: flex-end;
}

/* Couleur des étoiles en bleu et taille */
.hebergement_populaire i { 
    color: #0065FC;
    font-size: 13px;
}

/* Couleur des étoiles en moins en gris */
.hebergement_populaire span i {
    display: flex;
    color: #E9E9E9;  
}

/* Met l'image sur le côté gauche de la figure, taille de l'image, bordures et marge avec le texte */
.hebergement_populaire img {
    float: left;
    width: 120px;
    height: 130px;
    border-radius: 10px 0px 0px 10px;
    margin-right: 20px;
}

/*---------------------------------------------------------ACTIVITÉS------------------------------------------------------------*/

/* Passage à la ligne lorsque l'un des blocs gauche ou droite n'a plus de place */
.activite_ville {
    display: flex;
    flex-wrap: wrap;
}

/* Passage à la ligne lorsque que le bloc gauche1 ou gauche2 n'a plus de place */
.activite_ville .gauche {
    display: flex;
    flex-wrap: wrap;
}

/* Passage à la ligne lorsque que le bloc droite1 ou droite2 n'a plus de place */
.activite_ville .droite {
    display: flex;
    flex-wrap: wrap;
}

/* Taille, police et position du titre, prends 100% de la largeur pour passer les autres blocs à la ligne */
.activite_ville .titre {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

/* Taille, bordure arrondis, couleur de fond et ombre de la figure */
.activite_ville figure {
    width: 270px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px #E9E9E9;
}

/* Taille et bordures arrondis de l'image */
.activite_ville figure img {
    width: 270px;
    border-radius: 10px 10px 0px 0px;
}

/* Marges extérieurs enlevées et marge dessus ajoutée */
.activite_ville figure figcaption p  {
    margin: 0;
    margin-top: 10px;
}

/* Enlève les ajouts sur le lien et défini la couleur en noir et la police, ajoute une marge intérieur gauche */
.activite_ville figure figcaption p a {
    text-decoration: none;
    color: black;
    font-family: Raleway_ExtraBold;
    padding-left: 10px;  
}

/* Taille de la figure1 */
.activite_ville .figure1 {
    height: 340px;
    margin: 0;   
}

/* Taille de l'image de la figure1 */
.activite_ville .figure1 img {
    height: 300px;
}

/* Marges du bloc gauche */
.activite_ville .gauche {
    margin-right: 40px;
    margin-bottom: 40px;
}

/* Taille de la figure2 et ajout de marge gauche */
.activite_ville .figure2 {
    height: 175px;
    margin: 0;
    margin-left: 35px;
}

/* Taille de l'image de la figure3 */
.activite_ville .figure2 img {
    height: 130px;
}

/* Taille de la figure3 et ajout de marche dessus et gauche */
.activite_ville .figure3 {
    height: 145px;
    margin: 0;
    margin-top: 20px;
    margin-left: 35px;
}

/* Taille de l'image de la figure3 */
.activite_ville .figure3 img {
    height: 100px;
}

/* Taille de la figure2 du bloc de droite */
.activite_ville .droite .figure2 {
    height: 145px;
}

/* Taille de l'image de la figure2 du bloc de droite */
.activite_ville .droite .figure2 img {
    height: 100px;
}

/* Taille de la figure3 du bloc droite */
.activite_ville .droite .figure3 {
    height: 175px;
}

/* Taille de l'image de la figure3 du bloc de droite */
.activite_ville .droite .figure3 img {
    height: 130px;
}


/*-------------------------------------------------------- FOOTER --------------------------------------------------------*/

/* Espacement des sections du footer, hauteur du footer, couleur, marge extérieur haute et marges intérieur ajoutés */
footer {
    display: flex;
    justify-content: space-around;
    height: 225px;
    background-color: #F2F2F2;
    margin-top: 20px;
    padding-top: 15px;
    padding-left: 10px;
}

/* Déplacement des sections pour les approcher de la gauche */
footer section {
    margin-right: 120px;
}

/* Décorations du lien enlevé, couleur, police et taille défini */
footer section h1 a {
    text-decoration: none;
    color: black;
    font-family: Raleway_ExtraBold;
    font-size: 20px;
}

/* Décorations du lien enlevé, couleur, police et taille défini */
footer section p a {
    text-decoration: none;
    color: black;
    font-family: Raleway;
    font-size: 17px;
}

/* ---------------------------------------------------------------- RESPONSIVE DESIGN ---------------------------------------------------------------------*/
@media screen and (max-width: 1280px) {
    /*----------------------------------------------------- HEADER --------------------------------------------------------*/
    
    /* Fais descendre les liens de navigation d'une ligne */
    header {
        display: inline;
    }

    /* Ajoute une marge à gauche du logo */
    .reservia {
        margin-left: 20px;
    }

    /* La navigation prends toute la largeur et se colle au côté */
    nav ul {
        width: 100%;
        padding-left: 0;
    }

    /* Position le bouton s'inscrire en haut à droite */
    .inscription {
        position: absolute;
        top: 0;
        right: 0;
    }

    /* Enlève la bordure du haut qui s'affiche et ajoute une en bas grise, prends la moitié de la largeur pour chaque lien puis aligne le texte */
    nav li {
        border-bottom: 2px #F2F2F2 solid;
        border-top: hidden;
        width: 50%;
        text-align: center;
    }

    /* affiche une bordure bleu en bas lorsque la souris passe sur le lien */
    nav li:hover {
        border-bottom: 3px #0065FC solid;
        border-top: none;
    }

    /*-------------------------------------------------------- BODY -----------------------------------------------------------*/
    
    /* Supprime les marges */
    html {
        margin: auto;
    }

    /* Permet au titre de ne pas coller aux bords de l'écran */
    .titre, .sous-titre {
        margin-right: 20px;
        padding-left: 20px;
    }

    .titre {
        margin-top: 20px;
    }

    .sous-titre {
        margin-top: 10px;
        font-size: 18.5px;
    }

    .titre, .sous-titre, h2, .information {
        margin-left: 20px;
    }

    /* Centre le champs de recherche sur l'écran */
    .recherche {
       justify-content: center;
    }

    /* Change la forme du bouton de recherche */
    .recherche button {
        width: 45px;
        border-radius: 0 30% 30% 0;
    }

    /* Disparition du bouton Recherche écrit */
    .defaut {
        display: none;
    }

    /* Apparition du bouton Recherche logo */
    .search {
        display: inline;
    }

    /* Fais passer tous les filtres à la ligne */
    .filtres h2 {
        width: 100%;
    }

    /* Ajoute une marge au filtre pour ne pas coller au bord de l'écran */
    .economie, .famille, .romantique, .animaux {
        margin-right: 20px;
    }

    /* Ajoute une marge au texte pour ne pas coller au logo information */
    .nbrLogement {
        margin-right: 20px;
    }

    /*--------------------------------------- HEBERGEMENT -----------------------------------------*/

    /* Inverse le passage à la ligne entre les hébergements de la ville et les populaires */
    .hebergement {
        flex-wrap: wrap-reverse;
    }

    /* Change la couleur du fond en blanc et centre le bloc */
    .hebergement_ville {
        justify-content: center;
        margin: auto;
        background-color: white;
    }

    /* Positionne le titre */
    .hebergement_ville .titre {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-right: 55px;
    }

    /* Modifie la largeur de la figure */
    .hebergement_ville figure {
        width: 320px;
    }

    /* Modifie la taille de l'image */
    .hebergement_ville img {
        width: 310px;
    }

    /* Positionne le sous-titre afficher plus */
    .hebergement h2 {
        display: flex;
        justify-content: flex-start;
        padding-left: 40px;
    }

    /* Supprime les bordures courbées, prends toute la largeur de la ligne et ajoute une marge en-dessous */
    .hebergement_populaire {
        width: 100%;
        margin-bottom: 30px;
        border-radius: 0px;
    }
    
    /*------------------------------------------- ACTIVITÉ -------------------------------------------- */

    /* Centre le contenu */
    .activite_ville {
        justify-content: center;
        margin: auto;
    }

    /* Centre le titre et le déplace à gauche, prends 100% de la largeur pour prendre la ligne */
    .activite_ville .titre {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-right: 110px;
    }
    
    /* Redonne l'affichage block pour passer à la ligne et ajout des marges extérieurs gauches et basses */
    .activite_ville .gauche {
        display: block;
        margin-left: 40px;
        margin-bottom: 5px;
    }

    /* Redonne l'affichage block pour passer à la ligne et ajoute une marge basse */
    .activite_ville .droite {
        display: block;
        margin-bottom: 5px;
    }

    /* Ajout d'une marge intérieur */
    .activite_ville figure {
        padding: 5px;
    }

    /* Taille des figures du bloc de gauche et ajout des marges basse et gauche */
    .activite_ville .gauche figure {
        width: 320px;
        height: auto;
        margin-bottom: 15px;
        margin-left: 0;
    }

    /* Taille des images des figures du bloc de gauche */
    .activite_ville .gauche figure img {
        height: 140px;
        width: 310px;
    }

    /* Taille des figures du bloc de droite et ajout des marges basse et gauche */
    .activite_ville .droite figure {
        width: 320px;
        height: auto;
        margin-bottom: 15px;
        margin-left: 0;
    }

    /* Taille des images des figures du bloc de droite */
    .activite_ville .droite figure img {
        height: 140px;
        width: 310px;
    }

    /* Automatise la taille de la figure2 du bloc de droite */
    .activite_ville .droite .figure2 {
        height: auto;
    }

    /* Taille de l'image de la figure2 du bloc de droite */
    .activite_ville .droite .figure2 img {
        height: 140px;
        width: 310px;
    }

    /* Automatise la taille de la figure3 du bloc de droite */
    .activite_ville .droite .figure3 {
        height: auto;
    }

    /* Taille de l'image de la figure3 du bloc de droite */
    .activite_ville .droite .figure3 img {
        height: 140px;
        width: 310px;
    }

    /*---------------------------------------------- FOOTER ------------------------------------------*/

    /* Le contenu s'affiche en colonne, la hauteur du bloc footer est maintenant automatique et ajoute une marge intérieur */
    footer {
        flex-direction: column;
        height: auto;
        padding-left: 70px;
    }

    /* Déshérite la marge droite des sections du footer */
    footer section {
        margin-right: inherit;
    }
}




